.list {
  height: 700px;
  overflow: scroll;
}

.main {
  margin-top: 80px;
}

.main-img {
  height: 480px;
  overflow: hidden;
}

.red {
  color: red;
}

.grey {
  color: grey;
}

.green {
  color: green;
}

.card {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
}

.right {
  position: fixed;
  right: 0;
}

.left {
  position: fixed;
  left: 0;
}

.center{
  margin-left: 30%;
}



.navbar,
.navbar-inverse,
.navbar-brand,
.navbar-header {
  background-color: orange;
  color: white;
}

.navbar a {
  color: white;
}
